/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: hurmeDesign;
    src: url(fonts/Hurme\ Design\ -\ HurmeGeometricSans4\ SemiBold_0.otf);
    font-weight: 600;
}

@font-face {
    font-family: hurmeDesign;
    src: url(fonts/Hurme\ Design\ -\ HurmeGeometricSans4\ Bold_0.otf);
    font-weight: bold;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
}

/* Elements */
* {
    box-sizing: border-box;
}

body > footer {
    background-color: #231f20;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body > footer p {
    opacity: 0.3;
    font-family: "openSans";
    font-weight: lighter;
}

/* Font sizes */
:root {
    font-size: 12px;
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        font-size: 18px;
    }
}

/* Headers */
.h1 {
    font-size: 6rem;
    font-family: "hurmeDesign";
    font-weight: 600;
}

.h2 {
  font-size: 3.75rem;
  font-family: "hurmeDesign";
  font-weight: bold;
}

.h3 {
    font-size: 2.5rem;
    font-family: "hurmeDesign";
    font-weight: 600;
}

.h3::after,
.h3::before {
    content: '\02022';
    color: #3cb878;
    font-size: 0.8em;
    vertical-align: 10%;
}

.h3::before {
    padding: 0 0.2em 0 0;
}

.h3::after {
    padding: 0 0 0 0.2em;
}

.h4 {
    font-size: 1.1rem;
    font-family: "openSans";
    font-weight: bold;
}

.h5 {
    font-family: "openSans";
    font-weight: 600;
    font-size: 1rem;
    display: inline-block
}

section {
    max-width: 100%;
}

.o-section {
    padding: 5rem 0 5rem;
}

.o-main {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1rem;
}

.o-header {
    margin: 0 0 3em 0
}

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout--horizontally-centered {
    justify-content: center;
}

.o-layout--vertically-centered {
    align-items: center;
}

.o-layout__item--1 {
    width: 8.33%;
}

.o-layout__item--3 {
    width: 25%;
}

.o-layout__item--4 {
    width: 33.33%;
}

.o-layout__item--6 {
    width: 50%;
}

.o-layout__item--8 {
    width: 66.66%;
}

.o-layout__item--9 {
    width: 75%;
}

.o-layout__item--10 {
    width: 83.33%;
}

.o-layout__item--11 {
    width: 91.66%;
}

.o-layout__item--12 {
    width: 100%;
}

@media screen and (min-width: 320px) {
    .o-layout__item--1--xxs {
        width: 8.33%;
    }

    .o-layout__item--3--xxs {
        width: 25%;
    }

    .o-layout__item--6--xxs {
        width: 50%;
    }

    .o-layout__item--11--xxs  {
        width: 91.66%;
    }

    .o-layout__item--12--xxs {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .o-layout__item--1--xs {
        width: 8.33%;
    }

    .o-layout__item--3--xs {
        width: 25%;
    }

    .o-layout__item--6--xs {
        width: 50%;
    }

    .o-layout__item--11-xs {
        width: 91.66%;
    }

    .o-layout__item--12--xs {
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    .o-layout__item--1--s {
        width: 8.33%;
    }

    .o-layout__item--3--s {
        width: 25%;
    }

    .o-layout__item--6--s {
        width: 50%;
    }

    .o-layout__item--11--s {
        width: 91.66%;
    }

    .o-layout__item--12--s {
        width: 100%;
    }
}

@media screen and (min-width: 784px) {
    .o-layout__item--1--m {
        width: 8.33%;
    }

    .o-layout__item--3--m {
        width: 25%;
    }

    .o-layout__item--4--m {
        width: 33.33%;
    }

    .o-layout__item--6--m {
        width: 50%;
    }

    .o-layout__item--8--m {
        width: 66.66%;
    }

    .o-layout__item--9--m {
        width: 75%;
    }
    
    .o-layout__item--10--m {
        width: 83.33%;
    }

    .o-layout__item--11--m {
        width: 91.66%;
    }

    .o-layout__item--12--m {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .o-layout__item--1--l {
        width: 8.33%;
    }

    .o-layout__item--3--l {
        width: 25%;
    }

    .o-layout__item--6--l {
        width: 50%;
    }

    .o-layout__item--11--l {
        width: 91.66%;
    }

    .o-layout__item--12--l {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .o-layout__item--1--xl {
        width: 8.33%;
    }

    .o-layout__item--3--xl {
        width: 25%;
    }

    .o-layout__item--6--xl {
        width: 50%;
    }

    .o-layout__item--11--xl {
        width: 91.66%;
    }

    .o-layout__item--12--xl {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .o-layout__item--1--xxl {
        width: 8.33%;
    }

    .o-layout__item--3--xxl {
        width: 25%;
    }

    .o-layout__item--6--xxl {
        width: 50%;
    }

    .o-layout__item--11--xxl {
        width: 91.66%;
    }

    .o-layout__item--12--xxl {
        width: 100%;
    }
}

.c-cta {
    text-align: center;
    margin-top: 2em;
}

.c-button {
    text-decoration: none;
    display: inline-block;
    border-radius: 2em;
    padding: 0.75em 2em;
    background: white;
    color: #3cb878;
    font-family: "hurmeDesign";
    font-weight: bold;
    cursor: pointer;
    line-height: 1.3em;
}

.c-button:hover {
    background: #3cb878;
    color: white;
}

/* Contact Section */
.c-contact {
    background-color: #3cb878;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-contact__item {
    text-align: center;
    display: inline-block;
    line-height: 1.8rem;
}

.c-contact__item {
   padding: 1em;
}

.c-contact__item  a:link, .c-contact__item a:visited {
    color: inherit
}

.c-contact__item img {
    opacity: 0.5;
    width: 2.5rem;
}

.c-contact__item p {
    font-size: 1.25rem;
    font-family: "openSans";
    font-weight: lighter;
}

.c-contact__item p span {
    font-weight: 600;
}

.c-contact .h3::before,
.c-contact .h3::after {
    color: inherit;
    opacity: 0.6;
}

/* Gallery Section */
.c-gallery {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-gallery__item {
    display: inline-block;
    width: 15em;
    height: 15em;
    margin: 1em;
    padding: .5em;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
}

.c-gallery__item img {
    width: 100%;
    height: 100%;
}

/* Projects Section */
.c-projects {
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 10rem 0 10rem;
    background: url(gfx/banner1.png) no-repeat;
    background-size: cover;
}
.c-projects p {
    line-height: 1.8rem;
    font-size: 1.25rem;
    font-family: "openSans";
    font-weight: 600;
}

/* Offer Section */
.c-offer {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #f8f8f8;
}

.c-offer__content {
    text-align: left;
}

.c-offer__list__header {
    margin-bottom: .6em;
}

.c-offer__list__container {
    margin-bottom: 1em;
}

.c-offer__list__header__decoration {
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
}

.c-offer__list__header__title {
    line-height: 1.4em;
}

.c-offer__list__header__decoration img {
    vertical-align: middle;
    width: 2em;
}

.c-offer__list {
    font-size: .9rem;
    line-height: 1.6rem;
    font-family: "openSans";
    font-weight: lighter;
}

.c-offer__list__item::before {
    content: '\02022';
    display: inline-block;
    font-size: 1.2em;
    width: 1em;
    color: #3cb878;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.6rem;
}

/* About Section */
.c-about {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-about__text {
    text-align: center;
    font-size: .9rem;
    line-height: 1.6rem;
    font-family: "openSans";
    font-weight: lighter;
}

.c-about__text p {
    margin-bottom: 1em;
}

.c-rights {
    margin-top: 3em;
}

.c-rights__item {
    padding: 1em;
}

.c-rights__item__icon {
    width: 6em;
}

.c-rights__item__title {
    font-family: "openSans";
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: .5em;
    line-height: 1.3em;
}

.c-rights__item__subtitle {
    font-family: "openSans";
    font-weight: lighter;
}

/* Page header */
.c-header {
    color: white;
    padding: 10rem 0 10rem;
    background: url(gfx/header_banner.jpeg) rgba(0, 0, 0, 0.3) no-repeat;
    background-size: cover;
    text-align: center;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
}

.c-header__text__container {
    display: block;
}

.c-header__text__container  h4 {
    margin-top: .5em
}

.c-header__divider {
    display: inline-block;
    height: .01em;
    margin: 1em auto;
    max-width: 100%;
    width: 15em;
    background: linear-gradient(to right,transparent, white, transparent);
    background: -webkit-linear-gradient(to right,transparent, white, transparent);
}

@media screen and (min-width: 480px) {
    .c-header__divider {
        display: inline-block;
        margin: 0 .5em;
        height: 8em;
        vertical-align: middle;
        width: .01em;
        background: linear-gradient(transparent, white, transparent);
        background: -webkit-linear-gradient(transparent, white, transparent);
    }
    
    .c-header__text__container {
        display: inline-block;
        vertical-align: middle;
    }
}