/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: hurmeDesign;
    src: url(fonts/Hurme\ Design\ -\ HurmeGeometricSans4\ SemiBold_0.otf);
    font-weight: 600;
}

@font-face {
    font-family: hurmeDesign;
    src: url(fonts/Hurme\ Design\ -\ HurmeGeometricSans4\ Bold_0.otf);
    font-weight: bold;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Bold_0.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.c-top-bar {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
    right: 0;
    height: 4em;
    align-items: center;
    left: 0;
    border-bottom: 1px solid #dedede;
    padding: 1em;
}

.c-top-bar__logo {
    height: 4em;
}

.c-top-bar__divider {
    display: inline-block;
    margin: 0 .5em;
    height: 3em;
    vertical-align: middle;
    width: .01em;
    background: linear-gradient(transparent, #e0e0e0, transparent);
    background: -webkit-linear-gradient(transparent, #e0e0e0, transparent);
}

.c-menu-item {
    font-family: "openSans";
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.c-menu-item:link, .c-menu-item:visited {
    color: inherit;
}

/* Phone */
.c-phone__icon {
    height: 1.3em;
    margin-right: .5em;
    vertical-align: middle;
}

.c-phone__number {
    text-decoration: none;
    font-family: "openSans";
    font-weight: 600;
    font-size: 1.3em;
    vertical-align: middle;
}

.c-phone__number:link, .c-phone__number:visited {
    color: inherit;
}

/* Mobile Menu */
.c-mobile-menu  {
    width: 100%;
    max-width: 100%;
    text-align: center;
    position: fixed;
    top: 4em;
    z-index: 1;
    background: white;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.17);
}

.c-mobile-menu__nav {
    padding-bottom: 2rem;
}

.c-mobile-menu__item {
    display: block;
    padding: .6em;
    font-size: 1.4em;
}

/* Mobile Menu */
.c-desktop-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-content: center;
}

.c-desktop-menu__item {
    margin-right: 3em;
    font-size: .8em;
}

.c-mobile-menu__phone {
    padding-top: 2rem;
    border-top: 1px solid #e0e0e0;
}

main {
    padding-top: 4em;
}

body > footer {
    background-color: #231f20;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body > footer p {
    opacity: 0.3;
    font-family: "openSans";
    font-weight: lighter;
}

:root {
    font-size: 12px;
}

.h1 {
    font-size: 5rem;
    font-family: "hurmeDesign";
    font-weight: 600;
}

.h2 {
  font-size: 3.75rem;
  font-family: "hurmeDesign";
  font-weight: bold;
}

.h3 {
    font-size: 2.5rem;
    font-family: "hurmeDesign";
    font-weight: 600;
}

.h3::after,
.h3::before {
    content: '\02022';
    color: #3cb878;
    font-size: 0.8em;
    vertical-align: 10%;
}

.h3::before {
    padding: 0 0.2em 0 0;
}

.h3::after {
    padding: 0 0 0 0.2em;
}

.h4 {
    font-size: 1.1rem;
    font-family: "openSans";
    font-weight: bold;
}

.h5 {
    font-family: "openSans";
    font-weight: 600;
    font-size: 1rem;
    display: inline-block
}

section {
    max-width: 100%;
}

.o-section--1 {
    padding: 1rem 0 1rem;
}

.o-section--2 {
    padding: 2rem 0 2rem;
}

.o-section--3 {
    padding: 3rem 0 3rem;
}

.o-section--5 {
    padding: 5rem 0 5rem;
}

.o-section--8 {
    padding: 8rem 0 8rem;
}

.o-section--10 {
    padding: 10rem 0 10rem;
}

.o-main {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1rem;
}

.o-header {
    margin: 0 0 3em 0
}

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout--horizontally-centered {
    justify-content: center;
}

.o-layout--vertically-centered {
    align-items: center;
}

.o-layout__item--1 {
    width: 8.33%;
}

.o-layout__item--3 {
    width: 25%;
}

.o-layout__item--4 {
    width: 33.33%;
}

.o-layout__item--6 {
    width: 50%;
}

.o-layout__item--8 {
    width: 66.66%;
}

.o-layout__item--9 {
    width: 75%;
}

.o-layout__item--10 {
    width: 83.33%;
}

.o-layout__item--11 {
    width: 91.66%;
}

.o-layout__item--12 {
    width: 100%;
}

.c-cta {
    text-align: center;
    margin-top: 2em;
}

.c-button {
    text-decoration: none;
    display: inline-block;
    border-radius: 2em;
    padding: 0.75em 2em;
    background: white;
    color: #3cb878;
    font-family: "hurmeDesign";
    font-weight: bold;
    cursor: pointer;
    line-height: 1.3em;
}

.c-button:hover {
    background: #3cb878;
    color: white;
}

/* Contact Us*/
.c-contact {
    background-color: #3cb878;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-contact__item {
    display: inline-block;
    line-height: 1.5rem;
    padding: 1em;
    font-size: 1rem;
    font-family: "openSans";
    font-weight: lighter;
}

.u-align--left {
    text-align: left;
}

.u-align--center {
    text-align: center;
}

.c-contact__item  a:link, .c-contact__item a:visited {
    color: inherit
}

.c-contact__item img {
    opacity: 0.5;
    width: 2.5rem;
}

.c-contact__item p span {
    font-weight: 600;
}

.c-contact .h3::before,
.c-contact .h3::after {
    color: inherit;
    opacity: 0.6;
}

/* Gallery */
.c-gallery {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-gallery__item {
    margin: 1em;
    padding: .5em;
    cursor: pointer;
    border: 1px solid #e1e1e1;
}

.c-gallery__image {
    width: 100%;
}

/* Projects */
.c-projects {
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-projects--background {
    background: url(gfx/banners/projects/projects_xs.jpg);
    background-size: cover;
}

.c-projects p {
    line-height: 1.8rem;
    font-size: 1.2em;
    font-family: "openSans";
    font-weight: 600;
}

/* Offer */
.c-offer {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #f8f8f8;
}

.c-offer__content {
    text-align: left;
}

.c-offer__list__header {
    margin-bottom: 1em;
}

.c-offer__list__container {
    margin-bottom: 1em;
}

.c-offer__list__header__decoration {
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
}

.c-offer__list__header__title {
    line-height: 1.4em;
}

.c-offer__list__header__decoration img {
    vertical-align: middle;
    width: 2em;
}

.c-offer__list {
    font-size: .9rem;
    line-height: 1.6rem;
    font-family: "openSans";
    font-weight: lighter;
}

.c-offer__list__item::before {
    content: '\02022';
    display: inline-block;
    font-size: 1.2em;
    width: 1em;
    color: #3cb878;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.6rem;
}

/* About Us*/
.c-about {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-about__text {
    text-align: center;
    font-size: .9rem;
    line-height: 1.6rem;
    font-family: "openSans";
    font-weight: lighter;
}

.c-about__text p {
    margin-bottom: 1em;
}

.c-rights {
    margin-top: 3em;
}

.c-rights__item {
    padding: 1em;
}

.c-rights__item__icon {
    width: 6em;
}

.c-rights__item__title {
    font-family: "openSans";
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: .5em;
    line-height: 1.3em;
}

.c-rights__item__subtitle {
    font-family: "openSans";
    font-weight: lighter;
}

/* Header */
.c-header {
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.c-header--background {
    background: url(gfx/banners/header/header_xs.jpg);
    background-size: cover;
}

.c-header__text__container {
    display: block;
}

.c-header__text__container  h4 {
    margin-top: .5em
}

.c-header__divider {
    display: inline-block;
    height: .01em;
    margin: 1em auto;
    max-width: 100%;
    width: 15em;
    background: linear-gradient(to right,transparent, white, transparent);
    background: -webkit-linear-gradient(to right,transparent, white, transparent);
    background: -moz-linear-gradient(to right,transparent, white, transparent);
}

/* Screen Sizes */
@media screen and (min-width: 320px) {
    .o-layout__item--1--xxs {
        width: 8.33%;
    }

    .o-layout__item--3--xxs {
        width: 25%;
    }

    .o-layout__item--6--xxs {
        width: 50%;
    }

    .o-layout__item--11--xxs  {
        width: 91.66%;
    }

    .o-layout__item--12--xxs {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .o-layout__item--1--xs {
        width: 8.33%;
    }

    .o-layout__item--3--xs {
        width: 25%;
    }

    .o-layout__item--6--xs {
        width: 50%;
    }

    .o-layout__item--11--xs {
        width: 91.66%;
    }

    .o-layout__item--12--xs {
        width: 100%;
    }

    .o-section--1--xs {
        padding: 1rem 0 1rem;
    }
    
    .o-section--3--xs {
        padding: 3rem 0 3rem;
    }

    .o-section--5--xs {
        padding: 5rem 0 5rem;
    }
    
    .o-section--8--xs {
        padding: 8rem 0 8rem;
    }
    
    .o-section--10--xs {
        padding: 10rem 0 10rem;
    }
    
    .c-header__divider {
        display: inline-block;
        margin: 0 .5em;
        height: 8em;
        vertical-align: middle;
        width: .01em;
        background: linear-gradient(transparent, white, transparent);
        background: -webkit-linear-gradient(transparent, white, transparent);
    }
    
    .c-header__text__container {
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (min-width: 640px) {
    .o-layout__item--1--s {
        width: 8.33%;
    }

    .o-layout__item--3--s {
        width: 25%;
    }

    .o-layout__item--4--s {
        width: 33.33%;
    }

    .o-layout__item--6--s {
        width: 50%;
    }

    .o-layout__item--11--s {
        width: 91.66%;
    }

    .o-layout__item--12--s {
        width: 100%;
    }

    .o-section--1--s {
        padding: 1rem 0 1rem;
    }
    
    .o-section--3--s {
        padding: 3rem 0 3rem;
    }

    .o-section--5--s {
        padding: 5rem 0 5rem;
    }
    
    .o-section--8--s {
        padding: 8rem 0 8rem;
    }
    
    .o-section--10--s {
        padding: 10rem 0 10rem;
    }

    .c-header--background {
        background: url(gfx/banners/header/header_s.jpg);
        background-size: cover;
    }
    
    .c-projects--background {
        background: url(gfx/banners/projects/projects_s.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 784px) {
    .o-layout__item--1--m {
        width: 8.33%;
    }

    .o-layout__item--3--m {
        width: 25%;
    }

    .o-layout__item--4--m {
        width: 33.33%;
    }

    .o-layout__item--6--m {
        width: 50%;
    }

    .o-layout__item--8--m {
        width: 66.66%;
    }

    .o-layout__item--9--m {
        width: 75%;
    }
    
    .o-layout__item--10--m {
        width: 83.33%;
    }

    .o-layout__item--11--m {
        width: 91.66%;
    }

    .o-layout__item--12--m {
        width: 100%;
    }

    .c-header--background {
        background: url(gfx/banners/header/header_m.jpg);
        background-size: cover;
    }

    .c-projects--background {
        background: url(gfx/banners/projects/projects_m.jpg);
        background-size: cover;
    }

    .o-section--1--m {
        padding: 1rem 0 1rem;
    }
    
    .o-section--3--m {
        padding: 3rem 0 3rem;
    }

    .o-section--5--m {
        padding: 5rem 0 5rem;
    }
    
    .o-section--8--m {
        padding: 8rem 0 8rem;
    }
    
    .o-section--10--m {
        padding: 10rem 0 10rem;
    }

    .u-align--left--m {
        text-align: left;
    }    
}

@media screen and (min-width: 1024px) {
    .o-layout__item--1--l {
        width: 8.33%;
    }

    .o-layout__item--3--l {
        width: 25%;
    }

    .o-layout__item--6--l {
        width: 50%;
    }

    .o-layout__item--11--l {
        width: 91.66%;
    }

    .o-layout__item--12--l {
        width: 100%;
    }

    :root {
        font-size: 16px;
    }
    
    .c-header--background {
        background: url(gfx/banners/header/header_l.jpg);
        background-size: cover;
    }

    .c-projects--background {
        background: url(gfx/banners/projects/projects_l.jpg);
        background-size: cover;
    }

    .o-section--1--l {
        padding: 1rem 0 1rem;
    }
    
    .o-section--3--l {
        padding: 3rem 0 3rem;
    }

    .o-section--5--l {
        padding: 5rem 0 5rem;
    }
    
    .o-section--8--l {
        padding: 8rem 0 8rem;
    }
    
    .o-section--10--l {
        padding: 10rem 0 10rem;
    }
}

@media screen and (min-width: 1280px) {
    .o-layout__item--1--xl {
        width: 8.33%;
    }

    .o-layout__item--3--xl {
        width: 25%;
    }

    .o-layout__item--6--xl {
        width: 50%;
    }

    .o-layout__item--11--xl {
        width: 91.66%;
    }

    .o-layout__item--12--xl {
        width: 100%;
    }

    .o-section--1--xl {
        padding: 1rem 0 1rem;
    }
    
    .o-section--3--xl {
        padding: 3rem 0 3rem;
    }

    .o-section--5--xl {
        padding: 5rem 0 5rem;
    }
    
    .o-section--8--xl {
        padding: 8rem 0 8rem;
    }
    
    .o-section--10--xl {
        padding: 10rem 0 10rem;
    }

    .c-header--background {
        background: url(gfx/banners/header/header_xl.jpg);
        background-size: cover;
    }

    .c-projects--background {
        background: url(gfx/banners/projects/projects_xl.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .o-layout__item--1--xxl {
        width: 8.33%;
    }

    .o-layout__item--3--xxl {
        width: 25%;
    }

    .o-layout__item--6--xxl {
        width: 50%;
    }

    .o-layout__item--11--xxl {
        width: 91.66%;
    }

    .o-layout__item--12--xxl {
        width: 100%;
    }

    .c-header--background {
        background: url(gfx/banners/header/header_xxl.jpg);
        background-size: cover;
    }

    .c-projects--background {
        background: url(gfx/banners/projects/projects_xxl.jpg);
        background-size: cover;
    }

    :root {
        font-size: 18px;
    }
}

@media screen and (min-width: 2048px) {
    .c-header--background {
        background: url(gfx/banners/header/header_2xl.jpg);
        background-size: cover;
    }

    .c-projects--background {
        background: url(gfx/banners/projects/projects_2xl.jpg);
        background-size: cover;
    }
}